
<div class="row d-flex justify-content-around">
	<div class="col-12 col-md-11 p-md-4 p-xs-1 border border-primary rounded col-margins">

		<h2 class="text-center h3">Raid Template List (max. 5)</h2>

		<table class="table table-striped table-bordered table-hover table-dark">
			<thead class="text-center">
				<tr>
					<th scope="col">Name</th>
					<th scope="col">Day</th>
					<th scope="col" class="d-none d-md-table-cell">RL as</th>
					<th scope="col" class="d-none d-md-table-cell">Role</th>
					<th scope="col">Breakdown</th>
					<th scope="col">Actions</th>
				</tr>
			</thead>

			<tbody class="text-center ">
				{% for template in raidTemplates %}
				<tr>
					<td>{{ template.templateName }}</td>
					<td>{{ template.verboseStartDayOfWeek }} from {{ template.startAt|date("H:i") }} to {{ template.endAt|date("H:i") }}</td>
					{% set raidCharacter = template.raidCharacterFromUser(user) %}
					{% if raidCharacter %}
						<td class="text-success d-none d-md-table-cell">{{ raidCharacter.userCharacter.name }}</td>
						<td class="d-none d-md-table-cell">{{ raidCharacter.role.name }}</td>
					{% else %}
						<td class="text-success d-none d-md-table-cell">-</td>
						<td class="d-none d-md-table-cell">-</td>
					{% endif %}
					<td>
						<button type="button" class="btn btn-primary rounded-pill" data-toggle="modal" data-target="#clickMeTemplate_{{ template.id }}">Click me</button>

						<div class="modal fade" id="clickMeTemplate_{{ template.id }}" tabindex="-1" aria-labelledby="Raid details" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title">Click me</h5>

										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">

										<table class="table table-striped table-bordered table-hover table-dark">
											<thead class="text-center">
												<tr>
													<th scope="col">Raid type</th>
													<th scope="col">Min. and Max. Tanks</th>
													<th scope="col">Min. and Max. Healers</th>
												</tr>
											</thead>

											<tbody class="text-center ">
												<tr>
													<td>{{ template.raidType }}</td>
													<td>{{ template.minTank }} to {{ template.maxTank }}</td>
													<td>{{ template.minHeal }} to {{ template.maxHeal }}</td>
												</tr>
											</tbody>
										</table>

										<button type="button" class="btn btn-lg btn-secondary d-none d-md-inline-block" data-dismiss="modal">Close</button>
									</div>
									<div class="modal-footer d-flex d-md-none justify-content-between">
										<span class="h5">
											RL Character : {{ raidCharacter.userCharacter.name }}
											<br>
											Coming as : {{ raidCharacter.role.name }}
										</span>

										<button type="button" class="btn btn-lg btn-secondary" data-dismiss="modal">Close</button>
									</div>
								</div>
							</div>
						</div>
					</td>
					<td>
						<a href="{{ path('raidleader_events')}}?id={{template.id}}">Use/edit</a>
						<a href="{{ path('raidleader_template_delete', {id: template.id})}}">Delete</a>
					</td>
				</tr>
			{% endfor %}

			</tbody>
		</table>
	</div>
</div>
