{% extends 'base.html.twig' %}

{% block body %}

{#
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Event page</h1>

    <div class="example-wrapper">
        <span>Templates : </span>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Tank min</th>
                    <th>Tank max</th>
                    <th>Heal min</th>
                    <th>Heal max</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for template in user.raidTemplates %}
                    <tr>
                        <td>{{ template.name }}</td>
                        <td>{{ template.raidType }}</td>
                        <td>{{ template.minTank }}</td>
                        <td>{{ template.maxTank }}</td>
                        <td>{{ template.minHeal }}</td>
                        <td>{{ template.maxHeal }}</td>
                        <td>
                            <a href="{{ path('raidleader_events')}}?id={{template.id}}">Use/edit</a>
							<a href="{{ path('raidleader_template_delete', {id: template.id})}}">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <hr>
        <span>Create event : </span>
        <a href="{{ path('raidleader_events')}}">Reset Form</a>

        {{ form_start(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.raidType) }}
            {{ form_row(form.expectedAttendee) }}
            {{ form_row(form.startAt) }}
            {{ form_row(form.endAt) }}
            {{ form_row(form.information) }}
            {{ form_row(form.minTank) }}
            {{ form_row(form.maxTank) }}
            {{ form_row(form.minHeal) }}
            {{ form_row(form.maxHeal) }}
            {{ form_row(form.autoAccept) }}
            {{ form_row(form.isPrivate) }}
			{% for row in form.raidCharacter %}
				{{ form_label(row) }}
				{{ form_widget(row) }}
			{% endfor %}

            <div> {{ form_row(form.save) }}</div>

            {% if nbrTemplate is defined and nbrTemplate < 5 %}
                <p>
                    Choose a name if you want to save this raid as <br>
                    a template and ease future raid creation
                </p>
                <div> {{ form_row(form.templateName) }}</div>
                {% if editTemplate %}
                    <div> {{ form_row(form.editTemplate) }}</div>
                {% else %}
                    <div> {{ form_row(form.saveTemplate) }}</div>
                {% endif %}
            {% endif %}
        {{ form_end(form) }}

        <hr>
        <span>Raids </span>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Début</th>
                    <th>Fin</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for raid in user.raids %}
                    <tr>
                        <td>{{ raid.name }}</td>
                        <td>{{ raid.raidType }}</td>
                        <td>{{ raid.startAt|date("d/m/Y h:i") }}</td>
                        <td>{{ raid.endAt|date("d/m/Y h:i") }}</td>
                        <td>
                            <a href="{{ path('raidleader_raid_edit', {id: raid.id})}}">Modifier</a>
                            <a href="{{ path('raidleader_raid_delete', {id: raid.id})}}">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div> #}

<!-- ...;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;; -->


<main class="container bg-dark">

	{{ include('_tbc_banner.html.twig') }}
	<div class="row d-flex justify-content-around">

		<div class="col-12 col-md-11 p-4 border border-primary rounded col-margins">
			<details>
				<summary class="h5 text-success">
						Welcome to your own personal HQ, dear Raid Leader !
						Click here to learn more about your Raid Leader privileges.
				</summary>
				<p>
					<br>
					You can plan the invasion of The Outland from here.
					For now, this page will mainly be used to create raid templates (so you don't have to input all the data every time),
					create and manage raid events, but we'll try to add more cool stuff over time.
					<br><br>
					Also, in case you meet players in game that you did not enjoy playing with,
					you can add them to the list of people you want to prevent from attending your raids.
					They will be forwarded a small and polite message, when trying to join one of your raids,
					saying that they do not correspond to the type of players you are looking for.
					<br><br>
					I'd also like to add that you do not have to justify yourself. You might just decide to add someone to this
					list simply because you don't like him. This project is all about being able to play with people we enjoy playing with, to begin with.
					<br><br>
					I am insisting though on the fact that you have to remain polite and show a minimum of respect to everyone, even people you dislike,
					or you might end up losing your Raid Leader privileges on this web app.
					Arguing once with someone who got on your nerves when you were tired is something.
					Being homophobic is another thing though (among other things that won't be tolerated).
					Simply arguing will be tolerated, we're human beings, we can get it. Second one might get you banned from this web app entirely.
				</p>
			</details>
		</div>
	</div>

	<div class="row d-flex justify-content-around">

		<div class="col-12 col-md-11 p-md-4 p-xs-1 border border-primary rounded col-margins">
			<h2 class="text-center h3">Raid Template List (max. 5)</h2>
			<p class="text-center">Actions : Load (also allows you to modify it), and Delete.</p>
			<table class="table table-striped table-bordered table-hover table-dark">
				<thead class="text-center">
					<tr>
						<th scope="col">Name</th>
						<th scope="col">Date</th>
						<th scope="col">RL as</th>
						<th scope="col" class="d-none d-md-table-cell">Role</th>
						<th scope="col">Actions</th>
					</tr>
				</thead>

				<tbody class="text-center ">
					<tr>
						<td>Saturday Night Fever</td>
						<td>19/04/21<br>19h30 - 23h</td>
						<td><span class="text-success">Travolta</span></td>
						<td class="d-none d-md-table-cell">DPS</td>
						<td>! ! ! ! ! !</td>
					</tr>
					<tr>
						<td>Karazhan Evening Madness </td>
						<td>19/04/21<br>19h30 - 23h</td>
						<td><span class="text-success">MyLittlePony</span></td>
						<td class="d-none d-md-table-cell">Tank, DPS</td>
						<td>! ! ! ! ! !</td>
					</tr>
					<tr>
						<td>I hate fridays</td>
						<td>19/04/21<br>19h30 - 23h</td>
						<td><span class="text-success">ILoveWeekends</span></td>
						<td class="d-none d-md-table-cell">Tank, Heal, DPS</td>
						<td>! ! ! ! ! !</td>
					</tr>
					<tr>
						<td>We have shamans too now !</td>
						<td>19/04/21<br>19h30 - 23h</td>
						<td><span class="text-success">AllianceLover</span></td>
						<td class="d-none d-md-table-cell">Heal</td>
						<td>! ! ! ! ! !</td>
					</tr>
				</tbody>
			</table>
		</div class="col-12 col-md-11 p-md-4 p-xs-1 border border-primary rounded col-margins">
	</div class="row d-flex justify-content-around">

	<div class="row d-flex justify-content-around">

		<div class="col-12 col-md-11 p-4 border border-primary rounded col-margins">
			<details>
				<summary class="h5 text-success">
						Click here if you want to learn more about the Raid Template system !
				</summary>
				<p>
					<br>
					The Raid Template List above, as its name implies, will contain all of your saved raid templates.
					By default, it only contains a standard Wednesday Karazhan raid template that is pre-filled with the following data :
					<br><br>
					No character saved as raid-leader. Raid type is : "10".
					<br>
					Minimum and maximum of two tanks. Minimum of 2 healers and maximum of 3 healers.
					<br>
					Default day of the week is set to wednesday, beginning at 20h, server time.
					<br><br>
					It will also contain a basic example of Raid Leader Notes that you can use for a basic Karazhan pug raid.
					<br><br>
					You can load it by clicking the Edit/Load button next to it in the table above.
					<br><br>
					I encourage all raid leaders to create their own custom templates for all the raids they want to regularly manage,
					 for obvious reasons.
				</p>
			</details>
		</div>
	</div>


{# ------------------------------- FORM STARTS HERE -------------------------------------- #}

	{# <hr>
	<span>Create event : </span>
	<a href="{{ path('raidleader_events')}}">Reset Form</a>

	{{ form_start(form) }}
		{{ form_row(form.name) }}
		{{ form_row(form.raidType) }}

		{{ form_row(form.startAt) }}
		{{ form_row(form.endAt) }}

		{% for row in form.raidCharacter %}
			{{ form_label(row) }}
			{{ form_widget(row) }}
		{% endfor %}

		<div> {{ form_row(form.save) }}</div>

		{% if nbrTemplate is defined and nbrTemplate < 5 %}
			<p>
				Choose a name if you want to save this raid as <br>
				a template and ease future raid creation
			</p>
			<div> {{ form_row(form.templateName) }}</div>
			{% if editTemplate %}
				<div> {{ form_row(form.editTemplate) }}</div>
			{% else %}
				<div> {{ form_row(form.saveTemplate) }}</div>
			{% endif %}
		{% endif %}
	{{ form_end(form) }} #}

{# {{
	form_label(row, null,
		{label_attr:
			{
				class: 'h5',
			}
		}
	)
}} #}
	<div class="row d-flex justify-content-around">
		<div class="col-12 col-md-11 p-md-4 p-xs-1 border border-primary rounded col-margins">
			{{ form_start(form) }}
				<fieldset class="form-group">
					<legend class="text-center h3 mb-5">Create An Event (max. 5):</legend>

					<div class="row d-flex justify-content-around">
						<div class="col-lg-5 col-md-11 text-center">
							{{ form_label(form.name) }}
							{{ form_widget(form.name) }}
						</div>

						<div class="col-lg-5 col-md-11 text-center d-flex flex-column">

							{{ form_label(form.raidType) }}
							<div class="btn-group" role="group" aria-label="Basic radio toggle button group">
								{% for row in form.raidType %}
									{{ form_widget(row) }}
									{{
										form_label(row, null,
											{label_attr:
												{
													class: 'btn btn-outline-primary',
													autocomplete: 'off',
													checked: '',
												}
											}
										)
									}}
								{% endfor %}
							</div>
						</div>
					</div>

					<div class="row d-flex justify-content-around">
						{% for row in form.raidCharacter %}
							<div class="col-lg-5 col-md-11 text-center">
								{{ form_label(row) }}
								{{ form_widget(row) }}
							</div>
						{% endfor %}
					</div>

					<div class="row d-flex justify-content-around">
						<div class="col-lg-5 col-md-11 text-center">
							{{ form_label(form.startAt) }}
							{{ form_widget(form.startAt) }}
						</div>

						<div class="col-lg-5 col-md-11 text-center">
							{{ form_label(form.endAt) }}
							{{ form_widget(form.endAt) }}
						</div>
					</div>

					<div class="row d-flex justify-content-around p-2 p-md-4 pl-md-5 pr-md-5 mt-2 mb-5 ml-md-5 mr-md-5 border border-info rounded flex-column">
						<details class="mb-4">
							<summary class="h5 text-success">
									Click here if you want to know how to use these inputs properly.
							</summary>

							<p class="mb-5">
								<br>
								While everything is quite self-explanatory in its gist, you might want to know exactly what it does, and it's perfectly understandable.
								<br><br>
								The amount of raiders you're looking for tells the app (and the users) how many people you're looking for.
								Do not think that this number will always be "24" for a 25-men raid (you + 24 raiders) because it's not the case.
								<br><br>
								Let's say you have 20 guildies max level, and you need 5 extra raiders for your 25-men raid.
								Then you can tell everyone you're looking for 5 extra raiders only (and maybe this number includes 2 extra healers ?).
								<br><br>
								The minimum amount of tanks and healers you're looking for is included in the total number of raiders you're loooking for.
								It helps the app display raids to the right people. For exemple, as a user, if the character you're looking a raid for can heal,
								raids looking for a healer will be listed at the top of the list in the calendar.
								This is to ensure one raid doesn't end up with more healers than it should while another lacks a healer to be good to go.
								<br><br>
								The maximum number of healers or tanks is here to make sure you don't end up with 4 tanks in your Karazhan group if you only want 2 (for example).
								<br><br>
								The "auto-accept" checkbox, if checked, tells the app and the users that you'll accept anyone that want to attend your raids, and you don't want to
								spend time confirming them manually. If you need a healer, and a healer subscribes to your raid, his subscription is automatically confirmed.
								If you want to spend time talking to your subscribers to get to know them,
								maybe verify their gear or their skills by running a dungeon with them before manually confirming them (or not) to your raids,
								it will obviously be better to leave it unchecked.
								<br><br>
								Setting your raid to "private" simply means it will not be listed in the calendar, and you will have to send a code to your raiders.
								It can be a good idea to use this for cross-guild raids, where you still don't want any pick-up.
								In thise scenario, you might want to also check "auto-accept".
								<br><br>
								That's it for now, but we'll add more features over time if need be, depending on what people ask of us.
							</p>
						</details>

						<div class="form-row justify-content-between">
							<div class="col-9 col-form-label">
								{{ form_label(form.expectedAttendee) }}
							</div>
							{{ form_widget(form.expectedAttendee) }}
						</div>

						<div class="form-row justify-content-between">
							<div class="col-9 col-form-label">
								{{ form_label(form.minTank) }}
							</div>
							{{ form_widget(form.minTank) }}
						</div>

						<div class="form-row justify-content-between">
							<div class="col-9 col-form-label">
								{{ form_label(form.maxTank) }}
							</div>
							{{ form_widget(form.maxTank) }}
						</div>

						<div class="form-row justify-content-between">
							<div class="col-9 col-form-label">
								{{ form_label(form.minHeal) }}
							</div>
							{{ form_widget(form.minHeal) }}
						</div>

						<div class="form-row justify-content-between">
							<div class="col-9 col-form-label">
								{{ form_label(form.maxHeal) }}
							</div>
							{{ form_widget(form.maxHeal) }}
						</div>

						<div class="form-row justify-content-around mb-4">
							<div>
								{{ form_widget(form.autoAccept) }}
								{{ form_label(form.autoAccept) }}
							</div>

							<div>
								{{ form_widget(form.isPrivate) }}
								{{ form_label(form.isPrivate) }}
							</div>
						</div>

						<p class="text-success mb-1">These informations are important for the matchmaking, please do not neglect them.</p>
					</div>

					<div class="row d-flex justify-content-around mb-3">
						<div class="col-12 col-md-11">
							<div class="form-group">
								<div class="text-center">
									{{ form_label(form.information) }}
								</div>
								<div class="mb-3 text-left">
									It must contain anything relevant you'd like to show to your raiders.
									May it be mandatory add-ons, loot rules, raid leading style, objectives,
									and so on. It is pre-filled in order to show you what's mainly supposed to be in it,
									but feel free to add or remove some parts.
								</div>

								{{ form_widget(form.information) }}
									{#

								<textarea class="form-control" id="exampleFormControlTextarea1" rows="12">
Raid leading style and goals:

My goal is for everyone to enjoy discovering the raid at its own pace. I will take a few minutes before every boss to explain the strategy and make sure everyone understands what has to be done.
OR
I'll try to gather as many good players as I can so we can speed run this with full mats ! High-parsing players will most likely have more priority in this raid than other lower geared characters.

Loot rules :

Reserved > Main-spec > Main-spec but already got an item > Off-spec.
OR
We will be using EPGP / Loot council / DKP / etc.

Mandatory add-ons :

DBM, Angry Assignments, and so on...

Anything else you might think is important to mention :

Strategies will never be debated during the raid, no matter how much one might think he knows better.
								</textarea>

								#}
							</div>
						</div>
					</div>
				</fieldset>

				<div class="col-12 mt-4 d-flex justify-content-around">
					<button type="button" class="btn btn-primary rounded-pill btn-lg" data-toggle="modal" data-target="#saveYourTemplate">Save as template</button>

					<div class="modal fade" id="saveYourTemplate" tabindex="-1" aria-labelledby="Save your template" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" >Save your template</h5>

									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">

									{% if nbrTemplate is defined and nbrTemplate < 6 %}

										{% if editTemplate %}
											<span class="h5 form-label">
												Modify your template's name (or not)
											</span>
											{{ form_widget(form.templateName) }}

										{% else %}
											{% if nbrTemplate is defined and nbrTemplate < 5 %}
												{{ form_label(form.templateName) }}
												{{ form_widget(form.templateName) }}
											{% else %}
												<div class="d-flex align-items-center justify-content-center">
													<p class="h5 text-danger">
														Oops, it seems that you've alreadu reached the maximum of templates allowed
														for this version of the app. Sorry ! Edit an old one you're not using,
														or delete one to free a slot in order to create a new one.
													</p>
												</div>
											{% endif %}
										{% endif %}

									{% endif %}
								</div>


								<div class="modal-footer">

									{% if nbrTemplate is defined and nbrTemplate < 6 %}

										{% if editTemplate %}
											{{ form_row(form.editTemplate) }}

										{% else %}
											{% if nbrTemplate is defined and nbrTemplate < 5 %}
												{{ form_row(form.saveTemplate) }}
											{% else %}
												<div class="d-flex align-items-center justify-content-center">
													<button type="button" class="btn btn-lg btn-primary text-danger">
														No fun allowed !
													</button>
												</div>
											{% endif %}
										{% endif %}

									{% endif %}
									{#-- {% if nbrTemplate is defined and nbrTemplate < 5 %}

										{% if editTemplate %}
											<div> {{ form_row(form.editTemplate) }}</div>

										{% else %}
											<div> {{ form_row(form.saveTemplate) }}</div>

										{% endif %}
									{% endif %} #}

									<button type="button" class="btn btn-lg btn-secondary" data-dismiss="modal">Close</button>

								</div>
							</div>
						</div>
					</div>

					<button type="submit" class="btn btn-primary rounded-pill btn-lg">Post event</button>
				</div>

			{{ form_end(form) }}
		</div>
	</div>

	<div class="row d-flex justify-content-around">

		<div class="col-12 col-md-11 p-md-4 p-xs-1 border border-primary rounded col-margins">
			<h2 class="text-center">Raids you scheduled</h2>
			<table class="table table-striped table-bordered table-hover table-dark">
				<thead class="text-center">
					<tr>
						<th scope="col">Event</th>
						<th scope="col">Date</th>
						<th scope="col">As</th>
						<th scope="col" class="d-none d-md-table-cell">Role</th>
						<th scope="col" class="d-none d-md-table-cell">Notes</th>
						<th scope="col"></th>
					</tr>
				</thead>

				<tbody class="text-center ">
					<tr>
						<td>Saturday Night Fever <br>by <span class="text-success">Travolta</span></td>
						<td>19/04/21<br>19h30 - 23h</td>
						<td>Artemis</td>
						<td class="d-none d-md-table-cell">DPS</td>
						<td class="d-none d-md-table-cell">!</td>
						<td>! ! ! ! ! !</td>
					</tr>
					<tr>
						<td>Karazhan Evening Madness <br>by <span class="text-success">MyLittlePony</span></td>
						<td>19/04/21<br>19h30 - 23h</td>
						<td>Diana</td>
						<td class="d-none d-md-table-cell">Tank, DPS</td>
						<td class="d-none d-md-table-cell">!</td>
						<td>! ! ! ! ! !</td>
					</tr>
					<tr>
						<td>I hate fridays <br>by <span class="text-success">ILoveWeekends</span></td>
						<td>19/04/21<br>19h30 - 23h</td>
						<td>Xanjori</td>
						<td class="d-none d-md-table-cell">Tank, Heal, DPS</td>
						<td class="d-none d-md-table-cell">!</td>
						<td>! ! ! ! ! !</td>
					</tr>
					<tr>
						<td>We have shamans too now ! <br>by <span class="text-success">AllianceLover</span></td>
						<td>19/04/21<br>19h30 - 23h</td>
						<td>Alexandross</td>
						<td class="d-none d-md-table-cell">Heal</td>
						<td class="d-none d-md-table-cell">!</td>
						<td>! ! ! ! ! !</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</main>

{% endblock %}
