{% extends 'base.html.twig' %}

{% block title %}Manage events{% endblock %}

{% block body %}

<main class="container bg-dark">

	{{ include('_tbc_banner.html.twig') }}
	<div class="row d-flex justify-content-around">

		<div class="col-12 col-md-11 p-4 border border-primary rounded col-margins">
			<details>
				<summary class="h5 text-success">
						Welcome to your own personal HQ, dear Raid Leader !
						Click here to learn more about your Raid Leader privileges.
				</summary>
				<p>
					<br>
					You can plan the invasion of The Outland from here.
					For now, this page will mainly be used to create raid templates (so you don't have to input all the data every time),
					create and manage raid events, but we'll try to add more cool stuff over time.
					<br><br>
					Also, in case you meet players in game that you did not enjoy playing with,
					you can add them to the list of people you want to prevent from attending your raids.
					They will be forwarded a small and polite message, when trying to join one of your raids,
					saying that they do not correspond to the type of players you are looking for.
					<br><br>
					I'd also like to add that you do not have to justify yourself. You might just decide to add someone to this
					list simply because you don't like him. This project is all about being able to play with people we enjoy playing with, to begin with.
					<br><br>
					I am insisting though on the fact that you have to remain polite and show a minimum of respect to everyone, even people you dislike,
					or you might end up losing your Raid Leader privileges on this web app.
					Arguing once with someone who got on your nerves when you were tired is something.
					Being homophobic is another thing though (among other things that won't be tolerated).
					Simply arguing will be tolerated, we're human beings, we can get it. Second one might get you banned from this web app entirely.
				</p>
			</details>
		</div>
	</div>

	<div class="row d-flex justify-content-around">

		<div class="col-12 col-md-11 p-md-4 p-xs-1 border border-primary rounded col-margins">
			<h2 class="text-center h3">Raid Template List (max. 5)</h2>
			<p class="text-center">Actions : Load (also allows you to modify it), and Delete.</p>
			<table class="table table-striped table-bordered table-hover table-dark">
				<thead class="text-center">
					<tr>
						<th scope="col">Name</th>
						<th scope="col">Day</th>
						<th scope="col" class="d-none d-md-table-cell">RL as</th>
						<th scope="col" class="d-none d-md-table-cell">Role</th>
						<th scope="col">Details</th>
						<th scope="col">Actions</th>
					</tr>
				</thead>

				<tbody class="text-center ">
					{% for template in raidTemplates %}
                    <tr>
                        <td>{{ template.templateName }}</td>
						<td>{{ template.verboseStartDayOfWeek }}</td>
						{% set raidCharacter = template.raidCharacterFromUser(user) %}
						{% if raidCharacter %}
							<td class="text-success d-none d-md-table-cell">{{ raidCharacter.userCharacter.name }}</td>
							<td class="d-none d-md-table-cell">{{ raidCharacter.role.name }}</td>
						{% else %}
							<td class="text-success d-none d-md-table-cell">-</td>
							<td class="d-none d-md-table-cell">-</td>
						{% endif %}
						<td>
							<button type="button" class="btn btn-primary rounded-pill btn-lg" data-toggle="modal" data-target="#clickMeTemplate_{{ template.id }}">Click me</button>

							<div class="modal fade" id="clickMeTemplate_{{ template.id }}" tabindex="-1" aria-labelledby="Raid details" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title">Click me</h5>

											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">

											<table class="table table-striped table-bordered table-hover table-dark">
												<thead class="text-center">
													<tr>
														<th scope="col">Raid type</th>
														<th scope="col">Min. and Max. Tanks</th>
														<th scope="col">Min. and Max. Healers</th>
													</tr>
												</thead>

												<tbody class="text-center ">
													<tr>
														<td>{{ template.raidType }}</td>
														<td>{{ template.minTank }} to {{ template.maxTank }}</td>
														<td>{{ template.minHeal }} to {{ template.maxHeal }}</td>
													</tr>
												</tbody>
											</table>

											<button type="button" class="btn btn-lg btn-secondary d-none d-md-inline-block" data-dismiss="modal">Close</button>
										</div>
										<div class="modal-footer d-flex d-md-none">
											<span class="h5">RL Character : Alexandross</span>
											<span class="h5">Coming as : DPS</span>

											<button type="button" class="btn btn-lg btn-secondary" data-dismiss="modal">Close</button>
										</div>
									</div>
								</div>
							</div>
						</td>
                        <td>
                            <a href="{{ path('raidleader_events')}}?id={{template.id}}">Use/edit</a>
							<a href="{{ path('raidleader_template_delete', {id: template.id})}}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}

				</tbody>
			</table>
		</div class="col-12 col-md-11 p-md-4 p-xs-1 border border-primary rounded col-margins">
	</div class="row d-flex justify-content-around">

	<div class="row d-flex justify-content-around">

		<div class="col-12 col-md-11 p-4 border border-primary rounded col-margins">
			<details>
				<summary class="h5 text-success">
						Click here if you want to learn more about the Raid Template system !
				</summary>
				<p>
					<br>
					The Raid Template List above, as its name implies, will contain all of your saved raid templates.
					By default, it only contains a standard Wednesday Karazhan raid template that is pre-filled with the following data :
					<br><br>
					No character saved as raid-leader. Raid type is : "10".
					<br>
					Minimum and maximum of two tanks. Minimum of 2 healers and maximum of 3 healers.
					<br>
					Default day of the week is set to wednesday, beginning at 20h, server time.
					<br><br>
					It will also contain a basic example of Raid Leader Notes that you can use for a basic Karazhan pug raid.
					<br><br>
					You can load it by clicking the Edit/Load button next to it in the table above.
					<br><br>
					I encourage all raid leaders to create their own custom templates for all the raids they want to regularly manage,
					 for obvious reasons.
				</p>
			</details>
		</div>
	</div>

	<div class="row d-flex justify-content-around">
		<div class="col-12 col-md-11 p-md-4 p-xs-1 border border-primary rounded col-margins">
		{% if user.characters|length > 0 %}
			{{ form_start(form) }}
				<fieldset class="form-group">
					<a class="btn btn-primary rounded-pill btn-lg reset-form-button" href="{{ path('raidleader_events')}}">Reset Form</a>
					<legend class="text-center h3 mb-5">Create An Event (max. 5):</legend>

					<div class="row d-flex justify-content-around">
						<div class="col-lg-5 col-md-11 text-center">
							{{ form_label(form.name) }}
							{{ form_widget(form.name) }}
						</div>

						<div class="col-lg-5 col-md-11 text-center d-flex flex-column">

							{{ form_label(form.raidType) }}
							<div class="btn-group" role="group" aria-label="Basic radio toggle button group">
								{% for row in form.raidType %}
									{{ form_widget(row) }}
									{{
										form_label(row, null,
											{label_attr:
												{
													class: 'btn btn-outline-primary',
													autocomplete: 'off',
													checked: '',
												}
											}
										)
									}}
								{% endfor %}
							</div>
						</div>
					</div>

					<div class="row d-flex justify-content-around">
						{% for row in form.raidCharacter %}
							<div class="col-lg-5 col-md-11 text-center">
								{{ form_label(row) }}
								{{ form_widget(row) }}
							</div>
						{% endfor %}
					</div>

					<div class="row d-flex justify-content-around">
						<div class="col-lg-5 col-md-11 text-center">
							{{ form_label(form.startAt) }}
							{{ form_widget(form.startAt) }}
						</div>

						<div class="col-lg-5 col-md-11 text-center">
							{{ form_label(form.endAt) }}
							{{ form_widget(form.endAt) }}
						</div>
					</div>

					<div class="row d-flex justify-content-around p-2 p-md-4 pl-md-5 pr-md-5 mt-2 mb-5 ml-md-5 mr-md-5 border border-info rounded flex-column">
						<details class="mb-4">
							<summary class="h5 text-success">
									Click here if you want to know how to use these inputs properly.
							</summary>

							<p class="mb-5">
								<br>
								While everything is quite self-explanatory in its gist, you might want to know exactly what it does, and it's perfectly understandable.
								<br><br>
								The amount of raiders you're looking for tells the app (and the users) how many people you're looking for.
								Do not think that this number will always be "24" for a 25-men raid (you + 24 raiders) because it's not the case.
								<br><br>
								Let's say you have 20 guildies max level, and you need 5 extra raiders for your 25-men raid.
								Then you can tell everyone you're looking for 5 extra raiders only (and maybe this number includes 2 extra healers ?).
								<br><br>
								The minimum amount of tanks and healers you're looking for is included in the total number of raiders you're loooking for.
								It helps the app display raids to the right people. For exemple, as a user, if the character you're looking a raid for can heal,
								raids looking for a healer will be listed at the top of the list in the calendar.
								This is to ensure one raid doesn't end up with more healers than it should while another lacks a healer to be good to go.
								<br><br>
								The maximum number of healers or tanks is here to make sure you don't end up with 4 tanks in your Karazhan group if you only want 2 (for example).
								<br><br>
								The "auto-accept" checkbox, if checked, tells the app and the users that you'll accept anyone that want to attend your raids, and you don't want to
								spend time confirming them manually. If you need a healer, and a healer subscribes to your raid, his subscription is automatically confirmed.
								If you want to spend time talking to your subscribers to get to know them,
								maybe verify their gear or their skills by running a dungeon with them before manually confirming them (or not) to your raids,
								it will obviously be better to leave it unchecked.
								<br><br>
								Setting your raid to "private" simply means it will not be listed in the calendar, and you will have to send a code to your raiders.
								It can be a good idea to use this for cross-guild raids, where you still don't want any pick-up.
								In thise scenario, you might want to also check "auto-accept".
								<br><br>
								That's it for now, but we'll add more features over time if need be, depending on what people ask of us.
							</p>
						</details>

						<div class="form-row justify-content-between">
							<div class="col-9 col-form-label">
								{{ form_label(form.expectedAttendee) }}
							</div>
							{{ form_widget(form.expectedAttendee) }}
						</div>

						<div class="form-row justify-content-between">
							<div class="col-9 col-form-label">
								{{ form_label(form.minTank) }}
							</div>
							{{ form_widget(form.minTank) }}
						</div>

						<div class="form-row justify-content-between">
							<div class="col-9 col-form-label">
								{{ form_label(form.maxTank) }}
							</div>
							{{ form_widget(form.maxTank) }}
						</div>

						<div class="form-row justify-content-between">
							<div class="col-9 col-form-label">
								{{ form_label(form.minHeal) }}
							</div>
							{{ form_widget(form.minHeal) }}
						</div>

						<div class="form-row justify-content-between">
							<div class="col-9 col-form-label">
								{{ form_label(form.maxHeal) }}
							</div>
							{{ form_widget(form.maxHeal) }}
						</div>

						<div class="form-row justify-content-around mb-4">
							<div>
								{{ form_widget(form.autoAccept) }}
								{{ form_label(form.autoAccept) }}
							</div>

							<div>
								{{ form_widget(form.isPrivate) }}
								{{ form_label(form.isPrivate) }}
							</div>
						</div>

						<p class="text-success mb-1">These informations are important for the matchmaking, please do not neglect them.</p>
					</div>

					<div class="row d-flex justify-content-around mb-3">
						<div class="col-12 col-md-11">
							<div class="form-group">
								<div class="text-center">
									{{ form_label(form.information) }}
								</div>
								<div class="mb-3 text-left">
									It must contain anything relevant you'd like to show to your raiders.
									May it be mandatory add-ons, loot rules, raid leading style, objectives,
									and so on. It is pre-filled in order to show you what's mainly supposed to be in it,
									but feel free to add or remove some parts.
								</div>

								{{ form_widget(form.information) }}

							</div>
						</div>
					</div>
				</fieldset>

				<div class="col-12 mt-4 d-flex justify-content-around">
					<button type="button" class="btn btn-primary rounded-pill btn-lg" data-toggle="modal" data-target="#saveYourTemplate">{% if editTemplate %} Edit your {% else %} Save as {% endif %} template</button>

					<div class="modal fade" id="saveYourTemplate" tabindex="-1" aria-labelledby="Save your template" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title">{% if editTemplate %} Edit {% else %} Save {% endif %} your template</h5>

									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">

									{% if editTemplate %}
										<span class="h5 form-label">
											Modify your template's name (or not)
										</span>
										{{ form_widget(form.templateName) }}

									{% else %}
										{% if nbrTemplate < 5 %}
											{{ form_label(form.templateName) }}
											{{ form_widget(form.templateName) }}
										{% else %}
											<div class="d-flex align-items-center justify-content-center">
												<p class="h5 text-danger">
													Oops, it seems that you've alreadu reached the maximum of templates allowed
													for this version of the app. Sorry ! Edit an old one you're not using,
													or delete one to free a slot in order to create a new one.
												</p>
											</div>
										{% endif %}
									{% endif %}

								</div>

								<div class="modal-footer">

										{% if editTemplate %}
											{{ form_row(form.saveAsNewTemplate) }}
											{{ form_row(form.editTemplate) }}

										{% else %}
											{% if nbrTemplate < 5 %}
												{{ form_row(form.saveTemplate) }}
											{% else %}
												<div class="d-flex align-items-center justify-content-center">
													<button type="button" class="btn btn-lg btn-primary text-danger">
														No fun allowed !
													</button>
												</div>
											{% endif %}
										{% endif %}

									<button type="button" class="btn btn-lg btn-secondary" data-dismiss="modal">Close</button>

								</div>
							</div>
						</div>
					</div>
					<button type="submit" class="btn btn-primary rounded-pill btn-lg">Post event to calendar</button>
				</div>

			{{ form_end(form) }}
		{% else %}
			<p class="text-center h3 mb-5">Create An Event (max. 5):</p>
			<p>
				Vous devez avoir au moins un personnage afin de pouvoir créer un raid. <br>
				Vous pouvez créer un personnage ici : 
				<a href="{{ path('user_account') }}">Page profil</a>
			</p>
		{% endif %}
		</div>
	</div>


	<div class="row d-flex justify-content-around">

		<div class="col-12 col-md-11 p-md-4 p-xs-1 border border-primary rounded col-margins">
			<h2 class="text-center">Raids you scheduled</h2>
			<table class="table table-striped table-bordered table-hover table-dark">
				<thead class="text-center">
					<tr>
						<th scope="col">Name</th>
						<th scope="col">Date</th>
						<th scope="col" class="d-none d-md-table-cell">RL as</th>
						<th scope="col" class="d-none d-md-table-cell">Role</th>
						<th scope="col">Details</th>
						<th scope="col">Actions</th>
					</tr>
				</thead>

				<tbody class="text-center ">
					{% for raid in inProgressRaids %}
					<tr>
						<td>{{ raid.name }}</td>
						<td>{{ raid.startAt|date("d/m/Y from h:i") }}{{ raid.endAt|date("to h:i") }}</td>
						<td class="d-none d-md-table-cell">{{ character.name }}</td>
						<td class="d-none d-md-table-cell">{{ character.role.name }}</td>
						<td>
							clickMe

							<div class="modal fade" id="clickMe" tabindex="-1" aria-labelledby="Raid details" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title">Click me</h5>

											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">

											<table class="table table-striped table-bordered table-hover table-dark">
												<thead class="text-center">
													<tr>
														<th scope="col">Raid type</th>
														<th scope="col">Min. and Max. Tanks</th>
														<th scope="col">Min. and Max. Healers</th>
													</tr>
												</thead>

												<tbody class="text-center">
													<tr>
														<td>{{ raid.raidType }}</td>
														<td>{{ raid.minTank }} to {{ raid.maxTank }}</td>
														<td>{{ raid.minHeal }} to {{ raid.maxHeal }}</td>
													</tr>
												</tbody>
											</table>

											<button type="button" class="btn btn-lg btn-secondary d-none d-md-inline-block" data-dismiss="modal">Close</button>
										</div>
										<div class="modal-footer d-flex d-md-none">
											<span class="h5">RL Character : {{ character.name }}</span>
											<span class="h5">Coming as : {{ character.role.name }}</span>

											<button type="button" class="btn btn-lg btn-secondary" data-dismiss="modal">Close</button>
										</div>
									</div>
								</div>
							</div>
						</td>
						<td>
							<a href="{{ path('raidleader_raid_show', {id: raid.id }) }}">Show</a>
						</td>
					</tr>
					{% endfor %}

					{% for raid in pendingRaids %}
					<tr>
						<td>{{ raid.name }}</td>
						<td>{{ raid.startAt|date("d/m/Y") }} from {{ raid.startAt|date("H:i") }} to {{ raid.endAt|date("H:i") }}</td>
						{% set raidCharacter = raid.raidCharacterFromUser(user) %}
						<td class="text-success d-none d-md-table-cell">{{ raidCharacter.userCharacter.name }}</td>
						<td class="d-none d-md-table-cell">{{ raidCharacter.role.name }}</td>
						<td>
							<button type="button" class="btn btn-primary rounded-pill btn-lg" data-toggle="modal" data-target="#clickMeRaid_{{ raid.id }}">Click me</button>

							<div class="modal fade" id="clickMeRaid_{{ raid.id }}" tabindex="-1" aria-labelledby="Raid details" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title">Click me</h5>

											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">

											<table class="table table-striped table-bordered table-hover table-dark">
												<thead class="text-center">
													<tr>
														<th scope="col">Raid type</th>
														<th scope="col">Min. and Max. Tanks</th>
														<th scope="col">Min. and Max. Healers</th>
													</tr>
												</thead>

												<tbody class="text-center">
													<tr>
														<td>{{ raid.raidType }}</td>
														<td>{{ raid.minTank }} to {{ raid.maxTank }}</td>
														<td>{{ raid.minHeal }} to {{ raid.maxHeal }}</td>
													</tr>
												</tbody>
											</table>

											<button type="button" class="btn btn-lg btn-secondary d-none d-md-inline-block" data-dismiss="modal">Close</button>
										</div>
										<div class="modal-footer d-flex d-md-none">
											<span class="h5">RL Character : {# {{ character.name }} #} </span>
											<span class="h5">Coming as : {# {{ character.role.name }} #} </span>

											<button type="button" class="btn btn-lg btn-secondary" data-dismiss="modal">Close</button>
										</div>
									</div>
								</div>
							</div>
						</td>
						<td>
							<a href="{{ path('raidleader_raid_show', {id: raid.id }) }}">Show</a>
							<a href="{{ path('raidleader_raid_edit', {id: raid.id})}}">Modify</a>
							<a href="{{ path('raidleader_raid_delete', {id: raid.id})}}">Delete</a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>

			<div class="d-flex justify-content-center">
				<a class="btn btn-primary rounded-pill btn-lg" href="{{ path('raidleader_raid_archived')}}">Show finished raids</a>
			</div>
		</div>
	</div>
</main>

{% endblock %}
