{% extends 'base.html.twig' %}

{% block title %} Raid Leader HQ {% endblock %}

{% block banner_title %}
	<h1>Raid Leader HQ</h1>
{% endblock %}

{% block body %}

<main class="container bg-dark">

	{{ include('raid_leader/_welcome_message.html.twig') }}
	{{ include('raid_leader/_template_list.html.twig') }}
	{{ include('raid_leader/_template_system_info.html.twig') }}
	{{ include('raid_leader/_raid_form.html.twig') }}
	{{ include('raid_leader/_scheduled_raids.html.twig') }}

</main>

{% endblock %}
