{% extends 'base.html.twig' %}

{% block title %}Past raids{% endblock %}

{% block body %}

<main class="container bg-dark">
    <div class="row col-12">
        <a class="btn btn-primary rounded-pill btn-lg" href="{{ path('raidleader_events')}}">Back to RL HQ</a>
    </div>
    
    <hr>
    <h1>Past raids</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Début</th>
                <th>Fin</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for raid in raids %}
                <tr>
                    <td>{{ raid.name }}</td>
                    <td>{{ raid.raidType }}</td>
                    <td>{{ raid.startAt|date("d/m/Y h:i") }}</td>
                    <td>{{ raid.endAt|date("d/m/Y h:i") }}</td>
                    <td>
                        <a href="{{ path('raidleader_raid_show', {id: raid.id }) }}">Show</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</main>
{% endblock %}
