
<div class="row d-flex justify-content-around">

    <div class="col-12 col-md-11 p-md-4 p-xs-1 border border-primary rounded col-margins">

        <h2 class="text-center h3">Character list</h2>

        {% if characters is empty %}

            <div class="row p-2 p-md-4 pl-md-5 pr-md-5 mt-2 mb-5 ml-md-5 mr-md-5">
                <p class="m-auto text-center">
                    It seems that you did not create any character yet <br>
                    You can do it on this page, and then subscribe this character to raids on the calendar.
                </p>
            </div>

        {% else %}

            <table class="table table-striped table-bordered table-hover table-dark">

                <thead class="text-center">
                    <tr>
                        <th scope="col">Faction</th>
                        <th scope="col">Name</th>
                        <th scope="col" class="d-none d-lg-table-cell">Game version</th>
                        <th scope="col" class="d-none d-lg-table-cell">Server</th>
                        <th scope="col">Class</th>
                        <th scope="col" class="d-none d-md-table-cell">Role</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>

                <tbody class="text-center">
                    {% for character in characters %}
                        <tr>
                            <td>
                                <img src="{{ character.faction.imageSource }}" 
                                width="40" height="40" alt="{{ character.faction.name }}">
                            </td>
                            <td>{{ character.name }}</td>
                            <td class="d-none d-lg-table-cell">{{ character.server.gameVersion.name }}</td>
                            <td class="d-none d-lg-table-cell">{{ character.server.name }}</td>
                            <td>
                                <img src="{{character.characterClass.imageSource}}" 
                                width="40" height="40" alt="{{character.characterClass.name}}">
                            </td>
                            <td class="d-none d-md-table-cell">
                                {% for role in character.roles %}
                                    <img src="{{ role.imageSource }}" 
                                    width="40" height="40" alt="{{ role.name }}">
                                {% endfor %}
                            </td>
                            <td>
                                <a class="text-info text-decoration-none" 
                                   data-toggle="modal" data-target="#clickMeCharacter_{{ character.id }}"
                                   data-bs-toggle="tooltip" data-placement="top" title="Info">
                                    <i class="fas fa-info"></i>
                                </a>
                                <a href="{{ path('user_account')}}?id={{ character.id }}#characterForm" class="text-info text-decoration-none ml-2"
                                   data-bs-toggle="tooltip" data-placement="top" title="Edit">
                                    <i class="far fa-edit"></i>
                                </a>
                                <a class="text-danger text-decoration-none ml-2"
                                   data-bs-toggle="tooltip" data-placement="top" title="Delete"
                                   onclick="confirmModal('Delete character {{ character.name }}', 'Are you sure ?', '{{ path('user_archive_character', {id: character.id})}}' )">
                                    <i class="far fa-trash-alt"></i>
                                </a>
                                {{ include('user/modal/_character_information.html.twig') }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>

            </table>

        {% endif %}
    </div>

</div>
