{% form_theme formUser 'form_theme/form_errors.html.twig' %}

<div class="row d-flex justify-content-around">
    <div class="col-12 col-md-11 p-4 border border-primary rounded col-margins">
        <details>
            <summary class="h5">
                Welcome <span class="text-success">{{ user.name }}</span> !
                <br> The mail adress you are currently using is <span class="text-success">{{ user.email }}</span>.
            </summary>

            <p>
                <br>
                Do you want to change your email or your password ? You can change either or both here.
                {{ form_start(formUser) }}
                    {{ form_widget(formUser) }}
                    <div class="d-flex justify-content-center mt-4">
                        <button type="submit" class="btn btn-primary rounded-pill btn-lg">Submit</button>
                    </div>
                {{ form_end(formUser) }}
            </p>
        </details>
    </div>
</div>
