
<div class="row d-flex justify-content-around">
    <raid-list class="col-12 col-md-11 p-md-4 p-xs-1 border border-primary rounded col-margins">

        {% if chosenDate is defined %}
            <h2 class="text-center">Raid list</h2>
            <h3 class="text-center">for the {{ chosenDate|date('d/m/Y') }}</h3>
        {% else %}
            <h2 class="text-center">Raid list (unfiltered)</h2>
        {% endif %}

        <a class="btn btn-primary rounded-pill reset-form-button" href="{{ path('events')}}">Reset filters</a>

        <table class="table table-striped table-bordered table-hover table-dark">
            <thead class="text-center">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Date</th>
                    <th scope="col">Server</th>
                    <th scope="col">Still looking for</th>
                    {# <th scope="col" class="d-none d-md-table-cell">RL as</th>
                    <th scope="col" class="d-none d-md-table-cell">Role</th> #}
                    <th scope="col">Breakdown</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>

            <tbody class="text-center ">
                {% for raid in raids %}
                <tr>
                    <td>{{ raid.name }}</td>
                    <td>{{ raid.startAt|date("d/m/Y") }}
                        <br> from {{ raid.startAt|date("H:i") }} to {{ raid.endAt|date("H:i") }}
                    </td>
                    <td>{{ raid.server.name }}</td>
                    <td>
                        <span class="text-warning font-weight-bold">{{ raid.minTank }}</span> to <span class="text-warning font-weight-bold">{{ raid.maxTank }}</span> Tanks,
                        <span class="text-success font-weight-bold">{{ raid.minHeal }}</span> to <span class="text-success font-weight-bold">{{ raid.maxHeal }}</span> Healers,
                        <br>
                        <span class="text-info font-weight-bold">X</span> to <span class="text-info font-weight-bold">X</span> DPS.
                    </td>
                    {# {% set raidCharacter = raid.raidCharacterFromUser(user) %}
                    <td class="text-success d-none d-md-table-cell">{{ raidCharacter.userCharacter.name }}</td>
                    <td class="d-none d-md-table-cell">{{ raidCharacter.role.name }}</td> #}
                    <td>
                        <button type="button" class="btn btn-primary rounded-pill" data-toggle="modal" data-target="#detailsRaid_{{ raid.id }}">Info.</button>

                        <div class="modal fade" id="detailsRaid_{{ raid.id }}" tabindex="-1" aria-labelledby="Raid details" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Additional informations</h5>

                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">

                                        <table class="table table-striped table-bordered table-hover table-dark">
                                            <thead class="text-center">
                                                <tr>
                                                    <th scope="col">Raid type</th>
                                                    <th scope="col">Min. and Max. Tanks</th>
                                                    <th scope="col">Min. and Max. Healers</th>
                                                </tr>
                                            </thead>

                                            <tbody class="text-center">
                                                <tr>
                                                    <td>{{ raid.raidType }}</td>
                                                    <td>{{ raid.minTank }} to {{ raid.maxTank }}</td>
                                                    <td>{{ raid.minHeal }} to {{ raid.maxHeal }}</td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <button type="button" class="btn btn-lg btn-secondary d-none d-md-inline-block" data-dismiss="modal">Close</button>
                                    </div>
                                    <div class="modal-footer d-flex d-md-none justify-content-between">
                                        <span class="h5">
                                            {# RL Character : {{ raidCharacter.userCharacter.name }}
                                            <br>
                                            Coming as : {{ raidCharacter.role.name }} #}
                                        </span>

                                        <button type="button" class="btn btn-lg btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <a href="{{ path('event', {id: raid.id})}}">Show</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </raid-list>
</div>
