<raid-list>
    <h1>Raid list {% if chosenDate is defined %} {{ chosenDate|date('d/m/Y') }} {% endif %} </h1>
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Type</th>
				<th>Début</th>
				<th>Fin</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			{% for raid in raids %}
				<tr>
					<td>{{ raid.name }}</td>
					<td>{{ raid.raidType }}</td>
					<td>{{ raid.startAt|date("d/m/Y H:i") }}</td>
					<td>{{ raid.endAt|date("d/m/Y H:i") }}</td>
					<td>
						<a href="{{ path('user_raid_register', {id: raid.id})}}">Show</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</raid-list>