{% extends 'base.html.twig' %}

{% block title %}Calendar{% endblock %}

{% block javascripts %}
	<script defer src="{{asset('js/calendar.js')}}"></script>
{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<calendar-wrapper>
    {{ include('event/_calendar.html.twig') }}
</calendar-wrapper>

<raid-list>
	<h1>Raid list</h1>
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Type</th>
				<th>Début</th>
				<th>Fin</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			{% for raid in raids %}
				<tr>
					<td>{{ raid.name }}</td>
					<td>{{ raid.raidType }}</td>
					<td>{{ raid.startAt|date("d/m/Y h:i") }}</td>
					<td>{{ raid.endAt|date("d/m/Y h:i") }}</td>
					<td>
						<a href="{{ path('user_raid_register', {id: raid.id})}}">Show</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</raid-list>
{% endblock %}
