{% extends 'base.html.twig' %}

{% block title %}Event
{% endblock %}

{% block body %}
	{# <style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h4>
			Raid informations
		</h4>
		<p>Nom :
			{{ raid.name }}</p>
		<p>Nombre de joueurs attendu :
			{{ raid.expectedAttendee }}</p>
		<p>Min tank :
			{{ raid.minTank }}</p>
		<p>Max tank :
			{{ raid.maxTank }}</p>
		<p>Places remaining for tank :
			{{ number_of_places_remaining(raid, constant('App\\Entity\\Role::TANK')) }}</p>
		<p>Min heal :
			{{ raid.minHeal }}</p>
		<p>Max heal :
			{{ raid.maxHeal }}</p>
		<p>Places remaining for heal :
			{{ number_of_places_remaining(raid, constant('App\\Entity\\Role::HEAL')) }}</p>
		<p>Places remaining for dps :
			{{ number_of_places_remaining(raid, constant('App\\Entity\\Role::DPS')) }}</p>
		<p>Début du raid :
			{{ raid.startAt|date("d/m/Y h:i") }}</p>
		<p>Fin du raid :
			{{ raid.endAt|date("d/m/Y h:i") }}</p>
		<p>Informations :
			{{ raid.information }}</p>

		{% if form %}
			{% if user.characters|length > 0 %}
				<hr>
				<p class="text-center h3 mb-5">Subscription</p>
				{{ form_start(form) }}
				{{ form_widget(form) }}
				{% if isEdit %}
					<button type="submit">modify</button>
				{% else %}
					<button type="submit">register</button>
				{% endif %}
				{{ form_end(form) }}
			{% else %}
				<p class="text-center h3 mb-5">Subscription</p>
				<p class="text-center">
					You need to register at least one raiding character in your
					<a class="font-weight-bold" href="{{ path('user_account') }}">account page</a>
					in order to subscribe.
				</p>
			{% endif %}
		{% endif %}

		<hr>
		<h4>
			Validate players :
		</h4>
		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>Class</th>
					<th>Role</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for raidCharacter in raid.raidCharacters %}
					{% if raidCharacter.isAccept %}
						<tr>
							<td>{{ raidCharacter.userCharacter.name }}</td>
							<td>{{ raidCharacter.userCharacter.characterClass.name }}</td>
							<td>{{ raidCharacter.role.name }}</td>
							{% if user and user.hasCharacter(raidCharacter.userCharacter) and raidCharacter.isRaidLeaderCharacter(user) == false %}
								<td>
									<a href="{{ path('user_raid_unregister', {id: raid.id})}}">Unregister</a>
								</td>
							{% endif %}
						</tr>
					{% endif %}
				{% endfor %}
			</tbody>
		</table>

		<hr>
		<h4>
			Waiting players :
		</h4>
		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>Class</th>
					<th>Role</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for raidCharacter in raid.raidCharacters %}
					{% if raidCharacter.isWaitingConfirmation %}
						<tr>
							<td>{{ raidCharacter.userCharacter.name }}</td>
							<td>{{ raidCharacter.userCharacter.characterClass.name }}</td>
							<td>{{ raidCharacter.role.name }}</td>
							{% if user and user.hasCharacter(raidCharacter.userCharacter) and raidCharacter.isRaidLeaderCharacter(user) == false %}
								<td>
									<a href="{{ path('user_raid_unregister', {id: raid.id})}}">Unregister</a>
								</td>
							{% endif %}
						</tr>
					{% endif %}
				{% endfor %}
			</tbody>
		</table>
	</div> #}



{# ------------------------------------ {% if user.characters|length > 0 %}#}


	<main class="container bg-dark">
		<div class="row d-flex justify-content-around">
			<div class="col-12 col-md-11 p-md-4 p-xs-1 border border-primary rounded col-margins">

				<h3 class="text-center mb-5">Raid Information</h3>

				<div class="row d-flex justify-content-around mb-4">
					<div class="col-lg-5 col-md-11 text-center d-flex flex-column">
						<span class="h5">Name :</span>
						<span class="h4 text-success mt-0 mb-3">{{ raid.name }}</span>
					</div>

					<div class="col-lg-5 col-md-11 text-center d-flex flex-column">
						<span class="h5">Raid type :</span>

						<div class="bg-primary mr-auto ml-auto p-2 pl-5 pr-5">
							<span class="h5 font-weight-bold">
								{{ raid.raidType }}
							</span>
						</div>
					</div>
				</div>

				<div class="row d-flex justify-content-around d-flex align-items-center mb-3">
					<div class="col-lg-5 col-md-11 text-center d-flex flex-column">
						<span class="h5">Date :</span>
						<span class="h5 text-success mt-0 mb-3">
							{{ raid.startAt|date("d/m/Y") }}
							<br><span class="text-white">from</span>
							{{ raid.startAt|date("h:i") }}
							<span class="text-white">to</span>
							{{ raid.endAt|date("h:i") }}
						</span>
					</div>

					<div class="col-lg-5 col-md-11 text-center d-flex flex-column">
						<span class="h5">Server :</span>
						<span class="h4 text-success mt-0 mb-3">TBC Hydraxian Waterlord</span>
					</div>
				</div>

				<div class="row d-flex justify-content-around d-flex align-items-center mb-3">
					<div class="col-12 col-md-11 text-center d-flex flex-column">
						<span class="h5">
							The Raid Leader is still looking for
							<span class="text-success h4">{{ raid.expectedAttendee }}</span>
							raiders.
						</span>
					</div>
					<span class="h4">Including...</span>



					if ($minTank === $maxTank === 0)


					<p>Places remaining for tank :
						{{ number_of_places_remaining(raid, constant('App\\Entity\\Role::TANK')) }}</p>
					<p>Min heal :
						{{ raid.minHeal }}</p>
					<p>Max heal :
						{{ raid.maxHeal }}</p>
					<p>Places remaining for heal :
						{{ number_of_places_remaining(raid, constant('App\\Entity\\Role::HEAL')) }}</p>
					<p>Places remaining for dps :
						{{ number_of_places_remaining(raid, constant('App\\Entity\\Role::DPS')) }}</p>
				</div>






				<div class="row d-flex justify-content-around p-2 p-md-4 pl-md-5 pr-md-5 mt-2 mb-5 ml-md-5 mr-md-5 border border-info rounded flex-column">
					<div class="col-12">
						<h4 class="text-center">Raid Leader guidelines :</h4>
						<p>
							{{ raid.information }}
						</p>
					</div>
				</div>


				<div class="row d-flex justify-content-around p-2 p-md-4 pl-md-5 pr-md-5 mt-2 mb-5 ml-md-5 mr-md-5 border border-info rounded flex-column">

					<h3>Parameters</h3>

					<div class="form-row justify-content-between">
						<div class="col-12 col-form-label">
							<span class="h4">The Raid Leader is looking for a total of
								<span class="text-success h4">{{ raid.expectedAttendee }}</span> raiders.
							</span>
						</div>
					</div>

					<span class="h4">Including...</span>

					<div class="form-row justify-content-between">
						<div class="col-6 col-form-label">
							{{ raid.minTank }} to {{ raid.maxTank }} Tanks,
						</div>
						<div class="col-6 col-form-label">
							{{ raid.minHeal }} to {{ raid.maxHeal }} Healers,
						</div>
					</div>

					<div class="form-row justify-content-between">
						<div class="col-12 col-form-label">
							... and the rest in DPS.
						</div>
					</div>

					<div class="form-row justify-content-around mb-4">
						{% if (raid.autoAccept == 1) %}
						test 1
						{% endif %}

						{% if (raid.isPrivate == 1) %}
						test 2
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</main>
{% endblock %}
