{% extends 'base.html.twig' %}

{% block title %}
    Event
{% endblock %}

{% block banner_title %}
    <h1>{{raid.name}}</h1>
{% endblock %}

{% block body %}

{% if routeToRefer is not defined or routeToRefer is null %}
    {% set routeToRefer = 'events' %}
    {% set nameOfPageToRefer = 'Back to calendar' %}
{% endif %}

<div class="row col-12">
    <a class="btn btn-primary rounded-pill btn-lg" href="{{ path(routeToRefer)}}">
        <i class="fas fa-arrow-left"></i>
        {{ nameOfPageToRefer }}
    </a>
</div>

<div class="row d-flex justify-content-around">
    <div class="col-12 col-md-11 p-md-4 p-xs-1 rounded col-margins">

        <div class="row d-flex justify-content-around">
            <div class="col-lg-5 col-md-11 d-flex flex-column p-2 p-md-4 border border-info rounded justify-content-around my-3">

                <h3 class="text-center mb-4 pb-3 border-bottom border-info">Slots available</h3>

                <div class="d-flex align-items-center">
                    <span class="h5 mt-0 mb-3">
                        The Raid Leader is still looking for
                        <span class="text-info h4">{{ raid.expectedAttendee }}</span>
                        raiders and
                        <span class="text-info h4">{{ (tanks|length + healers|length + dps|length) - 1 }}</span>
                         are actually subscribe
                        <br><br>

                        <div class="h5 text-center text-light mb-3 border-bottom border-light">Tanks</div>
                        {{ number_of_places_remaining(raid, constant('App\\Entity\\Role::TANK'))|raw }}
                        <br><br>

                        <div class="h5 text-center text-light mb-3 border-bottom border-light">Healers</div>
                        {{ number_of_places_remaining(raid, constant('App\\Entity\\Role::HEAL'))|raw }}
                        <br><br>

                        <div class="h5 text-center text-light mb-3 border-bottom border-light">DPS</div>
                        {{ number_of_places_remaining(raid, constant('App\\Entity\\Role::DPS'))|raw }}
                    </span>
                </div>
                <div></div>
            </div>

            <div class="col-lg-5 col-md-11 d-flex flex-column p-2 p-md-4 border border-info rounded my-3">
                {% if form is defined %}

                    {% if form != null and isEdit %}
                        <h3 class="text-center mb-4 pb-3 border-bottom border-info">Change character ?</h3>
                    {% else %}
                        <h3 class="text-center mb-4 pb-3 border-bottom border-info">Subscription</h3>
                    {% endif %}

                    {% if form != null %}

                        {{ form_start(form) }}

                            {{ form_label(form.userCharacter) }}
                            {{ form_widget(form.userCharacter) }}

                            {{ form_label(form.role) }}
                            {{ form_widget(form.role) }}

                            {% if isEdit %}
                                <div class="d-flex justify-content-center">
                                    <button type="submit" class="btn btn-primary rounded-pill btn-lg mt-3">Save changes</button>
                                </div>
                            {% else %}
                                <div class="d-flex justify-content-center">
                                    <button type="submit" class="btn btn-primary rounded-pill btn-lg mt-3">Subscribe</button>
                                </div>
                            {% endif %}

                        {{ form_end(form) }}

                    {% else %}
                        {% if userIsRefused is defined and userIsRefused %}
                            <p class="text-center">
                                The raid leader decided not to take you in for this raid
                            </p>
                        {% elseif isPastRaid is defined and isPastRaid %}
                            <p class="text-center">
                                You cannot subscribe to or change your character in a raid that already happened
                            </p>
                        {% else %}
                            <p class="text-center">
                                You need to register at least one raiding character in your
                                <a class="font-weight-bold" href="{{ path('user_account') }}">account page</a>
                                in order to subscribe. <br>
                                If you see this message, it means that the characters you registered on the app do not belong
                                to the same server or the same faction as the raid you're trying to subscribe to.
                            </p>
                        {% endif %}
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn btn-primary rounded-pill btn-lg disabled mt-3">Subscribe</button>
                        </div>
                    {% endif %}
                {% else %}
                    <h3 class="text-center mb-4">Subscription</h3>
                    <p class="text-center">
                        You must be logged in to subscribe to a raid. <br>
                        You can sign up / sign in from the
                        <a class="font-weight-bold" href="{{ path('home') }}">home page</a>.
                    </p>
                    <div class="d-flex justify-content-center">
                        <button type="button" class="btn btn-primary rounded-pill btn-lg disabled mt-3">Subscribe</button>
                    </div>
                {% endif %}
            </div>

            <div class="col-md-11 d-flex flex-column p-2 p-md-4 border border-info rounded justify-content-around my-3">
                <h3 class="text-center mb-4 pb-3 border-bottom border-info">
                    {% set nbrOfPlayers = tanks|length + healers|length + dps|length %}
                    Raid roster - {{ nbrOfPlayers }} / {{raid.expectedAttendee + 1}} players
                </h3>
                {% set showMessage = true %}
                {% set showNbrSubscribe = true %}
                {{ include('raid_parts/_character_list.html.twig') }}
            </div>

        </div>
        <div class="row d-flex justify-content-around">
            <div class="col-12 col-md-11 p-md-4 p-xs-1 col-margins border border-info rounded">
                <h3 class="text-center mb-4 pb-3 border-bottom border-info">General Informations</h3>

                <div class="row d-flex justify-content-around mb-4">
                    <div class="col-lg-5 col-md-11 text-center d-flex flex-column align-items-center justify-content-center">
                        <span class="h5">Name :</span>
                        <span class="h4 mt-0 mb-3">{{ raid.name }}</span>
                    </div>

                    <div class="col-lg-5 col-md-11 text-center d-flex flex-column align-items-center justify-content-center">
                        <span class="h5">Raid type :</span>

                        <div class="bg-primary mr-auto ml-auto p-2 pl-5 pr-5">
                            <span class="h5 font-weight-bold">
                                {{ raid.raidType }}
                            </span>
                        </div>
                    </div>
                </div>

                <div class="row d-flex justify-content-around d-flex align-items-center">
                    <div class="col-lg-5 col-md-11 text-center d-flex flex-column align-items-center justify-content-center">
                        {% set raidCharacter = get_raid_character(raid) %}
                        <span class="h5">Date :</span>
                        <span class="h5 mt-0">
                            {% if user is defined %}
                                {{ get_date(raid, raidCharacter, user)|raw }}
                            {% else %}
                                {{ get_date(raid, raidCharacter)|raw }}
                            {% endif %}
                        </span>
                    </div>

                    <div class="col-lg-5 col-md-11 text-center d-flex flex-column align-items-center justify-content-center">
                        <span class="h5">Server &  Faction</span>
                        <span class="h4 m-0">
                            <img src="{{ raidCharacter.userCharacter.faction.imageSource }}"
                            width="40" height="40" alt="{{ raidCharacter.userCharacter.faction.name }}">
                            {{ raidCharacter.userCharacter.server.gameVersion.name }} - 
                            {{ raidCharacter.userCharacter.server.name }}
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-11 p-md-4 p-xs-1 col-margins border border-info rounded">
                <div class="col-12">
                    <h3 class="text-center mb-4 pb-3 border-bottom border-info">Raid Leader guidelines</h3>
                    <p>
                        {% if raid.information is not empty %}
                            {{ raid.information|raw }}
                        {% else %}
                            The raid leader didn't any additional information for this raid
                        {% endif %}
                    </p>
                </div>
            </div>

            <div class="col-12 col-md-11 p-md-4 p-xs-1 col-margins border border-info rounded">

                <details>
                    <summary class="h5">
                        <span>Parameters</span>
                    </summary>

                    <div class="form-row justify-content-between mb-2 mt-4">
                        <div class="col-8 h5 mb-2 d-flex align-items-center">
                            Amount of raiders the Raid Leader is looking for
                        </div>
                        <div class="col-2 h4 border rounded-pill m-0 mb-2 d-flex align-items-center justify-content-center text-info font-weight-bolder p-2">
                            {{ raid.expectedAttendee }}
                        </div>
                    </div>

                    <div class="form-row justify-content-between mb-2">
                        <div class="col-8 h5 mb-2 d-flex align-items-center">
                            Min. number of Tanks
                        </div>
                        <div class="col-2 h4 border rounded-pill m-0 mb-2 d-flex align-items-center justify-content-center text-warning font-weight-bolder p-2">
                            {{ raid.minTank }}
                        </div>
                    </div>

                    <div class="form-row justify-content-between mb-2">
                        <div class="col-8 h5 mb-2 d-flex align-items-center">
                            Max. number of Tanks
                        </div>
                        <div class="col-2 h4 border rounded-pill m-0 mb-2 d-flex align-items-center justify-content-center text-warning font-weight-bolder p-2">
                            {{ raid.maxTank }}
                        </div>
                    </div>

                    <div class="form-row justify-content-between mb-2">
                        <div class="col-8 h5 mb-2 d-flex align-items-center">
                            Min. number of Healers
                        </div>
                        <div class="col-2 h4 border rounded-pill m-0 mb-2 d-flex align-items-center justify-content-center text-success font-weight-bolder p-2">
                            {{ raid.minHeal }}
                        </div>
                    </div>

                    <div class="form-row justify-content-between mb-2">
                        <div class="col-8 h5 mb-2 d-flex align-items-center">
                            Max. number of Healers
                        </div>
                        <div class="col-2 h4 border rounded-pill m-0 mb-2 d-flex align-items-center justify-content-center text-success font-weight-bolder p-2">
                            {{ raid.maxHeal }}
                        </div>
                    </div>

                    <div class="form-row mb-2">
                        {% if raid.autoAccept %}
                            <div class="col-12 h5">
                                Raid auto-accepts subscriptions.
                            </div>
                        {% else %}
                            <div class="col-12 h5">
                                Subscriptions will be confirmed manually by the Raid Leader.
                            </div>
                        {% endif %}
                    </div>
                </details>
            </div>
        </div>
    </div>
</div>

{% endblock %}
