{% extends 'base.html.twig' %}

{% form_theme form 'form_theme/form_errors.html.twig' %}

{% block title %}Forgot password{% endblock %}

{% block body %}
    <div class="row d-flex justify-content-around">
        <div class="col-lg-4 col-md-10 col-margins mt-4 p-4 border border-primary rounded">
        {{ form_start(form) }}
                <fieldset>
                    <legend class="text-center">Change your password</legend>
                    {{ form_errors(form) }}

                    {{ form_label(form.password.first) }}
                    {{ form_widget(form.password.first) }}
                    {{ form_errors(form.password.first) }}

                    {{ form_label(form.password.second) }}
                    {{ form_widget(form.password.second) }}
                    {{ form_errors(form.password.second) }}
                </fieldset>

                <div class="d-flex justify-content-center mt-4">
                    <button type="submit" class="btn btn-primary rounded-pill btn-lg">Submit</button>
                </div>

        {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
