
<div class="row d-flex justify-content-around">
    <div class="col-12 col-md-11 p-md-4 p-xs-1 my-2 border border-primary rounded col-margins">
        <div class="row d-flex justify-content-around">

            <div class="col-2">
                <select class="form-control" name="nbrOfResultPerPage" id="nbrOfResultPerPage">
                    <option value="10" {% if nbrOfResultPerPage == 10 %} selected {% endif %}>10</option>
                    <option value="20" {% if nbrOfResultPerPage == 20 %} selected {% endif %}>20</option>
                    <option value="50" {% if nbrOfResultPerPage == 50 %} selected {% endif %}>50</option>
                    <option value="70" {% if nbrOfResultPerPage == 70 %} selected {% endif %}>70</option>
                    <option value="100" {% if nbrOfResultPerPage == 100 %} selected {% endif %}>100</option>
                </select>
            </div>

            <raid-list-title class="col-7">
                <h2 class="text-center">
                    {% if chosenDate is defined %}
                        All the raid

                        {% if character is not null %}
                            for {{ character.name }}
                        {% endif %}

                        {% if chosenDate is not null %}
                            the {{ chosenDate|date('d/m/Y') }}
                        {% endif %}
                    {% else %}
                        All the raid
                    {% endif %}
                </h2>
            </raid-list-title>

            <div class="col-2">
                <a class="btn btn-primary rounded-pill" href="{{ path('events')}}">Reset filters</a>
            </div>
        </div>

        <raid-list>
            <table class="table table-striped table-bordered table-hover table-dark">
                <thead class="text-center">
                    <tr>
                        <th scope="col">Game version</th>
                        <th scope="col">Server</th>
                        <th scope="col">Faction</th>
                        <th scope="col">Name</th>
                        <th scope="col">Date</th>
                        <th scope="col">Still looking for</th>
                        <th scope="col" class="d-none d-md-table-cell">RL by</th>
                        <th scope="col" class="d-none d-md-table-cell">Role</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>

                <tbody class="text-center ">
                    {% for raid in raids %}
                    <tr>
                        {% set raidCharacter = get_raid_character(raid) %}
                        <td>{{ raidCharacter.userCharacter.server.gameVersion.name }}</td>
                        <td>{{ raidCharacter.userCharacter.server.name }}</td>
                        <td>
                            <img src="{{ raidCharacter.userCharacter.faction.imageSource }}" 
                            width="40" height="40" alt="{{ raidCharacter.userCharacter.faction.name }}">
                        </td>
                        <td>{{ raid.name }}</td>
                        <td>
                            {% if user is defined %}
                                {{ get_date(raid, raidCharacter, user)|raw }}
                            {% else %}
                                {{ get_date(raid, raidCharacter)|raw }}
                            {% endif %}
                        </td>
                        <td>
                            {% if raid.minTank == raid.maxTank %}
                                <span class="text-warning font-weight-bold">{{ raid.minTank }}</span> Tanks,
                            {% else %}
                                <span class="text-warning font-weight-bold">{{ raid.minTank }}</span> to 
                                <span class="text-warning font-weight-bold">{{ raid.maxTank }}</span> Tanks,
                            {% endif %}
                            {% if raid.minHeal == raid.maxHeal %}
                                <span class="text-success font-weight-bold">{{ raid.minHeal }}</span> Healers,
                            {% else %}
                                <span class="text-success font-weight-bold">{{ raid.minHeal }}</span> to 
                                <span class="text-success font-weight-bold">{{ raid.maxHeal }}</span> Tanks,
                            {% endif %}
                            {% if raid.minTank + raid.minHeal == raid.maxTank + raid.maxHeal %}
                                <span class="text-info font-weight-bold">{{ (raid.expectedAttendee) - (raid.minTank + raid.minHeal) }}</span> DPS
                            {% else %}
                                <span class="text-info font-weight-bold">{{ raid.expectedAttendee - (raid.minTank + raid.minHeal) }}</span> to 
                                <span class="text-info font-weight-bold">{{ raid.expectedAttendee - (raid.maxTank + raid.maxHeal) }}</span> DPS
                            {% endif %}
                        </td>
                        <td class="text-success d-none d-md-table-cell">{{ raidCharacter.userCharacter.name }}</td>
                        <td class="d-none d-md-table-cell">
                            <img src="{{ raidCharacter.role.imageSource }}" 
                            width="40" height="40" alt="{{ raidCharacter.role.name }}">
                        </td>
                        <td>
                            <a class="text-info text-decoration-none" href="{{ path('event', {id: raid.id})}}"
                            data-bs-toggle="tooltip" data-placement="top" title="Show">
                                <i class="fas fa-eye"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button-list class="col-12 text-center">
                <div>
                    {% if nbrOfPages > 0 %}
                        {% for button in get_array_button(nbrOfPages, currentPage) %}
                            {{ button|raw }}
                        {% endfor %}
                    {% endif %}
                </div>
            </button-list>
        </raid-list>
    </div>
</div>
