
<div id="templateList" class="row d-flex justify-content-around">
    <div class="col-12 col-md-11 p-md-4 p-xs-1 border border-primary rounded col-margins">

        <h2 class="text-center h3">Raid Template List (max. 5)</h2>

        {% if raidTemplates is empty %}
            <div class="row p-2 p-md-4 pl-md-5 pr-md-5 mt-2 mb-5 ml-md-5 mr-md-5">
                <p class="m-auto text-center">
                    It seems that you didn't create any template yet <br>
                    Do it on this page in order to fasten the creation of your next raids
                </p>
            </div>
        {% else %}
            <table class="table table-striped table-bordered table-hover table-dark">
                <thead class="text-center">
                    <tr>
                        <th scope="col">Faction</th>
                        <th scope="col">Name</th>
                        <th scope="col" class="d-none d-lg-table-cell">Game version</th>
                        <th scope="col" class="d-none d-lg-table-cell">Server</th>
                        <th scope="col">Day</th>
                        <th scope="col" class="d-none d-md-table-cell">You play</th>
                        <th scope="col" class="d-none d-md-table-cell">Role</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>

                <tbody class="text-center ">
                    {% for template in raidTemplates %}
                    <tr>
                        {% set raidCharacter = get_raid_character(template) %}
                        <td>
                            <img src="{{ raidCharacter.userCharacter.faction.imageSource }}"
                            width="40" height="40" alt="{{ raidCharacter.userCharacter.faction.name }}">
                        </td>
                        <td>{{ template.templateName }}</td>
                        <td class="d-none d-lg-table-cell">{{ raidCharacter.userCharacter.server.gameVersion.name }}</td>
                        <td class="d-none d-lg-table-cell">{{ raidCharacter.userCharacter.server.name }}</td>
                        <td>{{ get_date(template, raidCharacter, user, true)|raw }}</td>
                        <td class="text-success d-none d-md-table-cell">{{ raidCharacter.userCharacter.name }}</td>
                        <td class="d-none d-md-table-cell">
                            <img src="{{ raidCharacter.role.imageSource }}"
                            width="40" height="40" alt="{{ raidCharacter.role.name }}">
                        </td>
                        <td>
                            <a class="text-info text-decoration-none"
                               data-toggle="modal" data-target="#clickMeTemplate_{{ template.id }}"
                               data-bs-toggle="tooltip" data-placement="top" title="Info">
                                <i class="fas fa-info"></i>
                            </a>
                            <a class="text-info text-decoration-none ml-2" href="{{ path('raidleader_events')}}?id={{template.id}}#eventForm"
                               data-bs-toggle="tooltip" data-placement="top" title="Edit/Load">
                                <i class="far fa-edit"></i>
                            </a>
                            <a class="text-danger text-decoration-none ml-2"
                               data-bs-toggle="tooltip" data-placement="top" title="Delete"
                               onclick="confirmModal('Delete template {{ template.name }}', 'Are you sure ?', '{{ path('raidleader_template_delete', {id: template.id})}}' )">
                                <i class="far fa-trash-alt"></i>
                            </a>
                            {{ include('raid_leader/modal/_template_show_breakdown.html.twig') }}
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        {% endif %}
    </div>
</div>
