{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <span>Infos perso : </span>
	<a href="{{ path('user_account_edit')}}">Modifier</a>
    <p>email : {{ user.email }}</p>
</div>

<hr>
<div class="example-wrapper">
    <span>Liste des personnages : </span>
	<a href="{{ path('user_character_add')}}">Ajouter</a>

	<table>
		<thead>
			<tr>
				<th>Nom</th>
				<th>Classe</th>
				<th>Rôles</th>
				<th>Serveur</th>
				<th>Informations</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			{% for character in user.characters %}
				<tr>
					<td>{{ character.name }}</td>
					<td>{{ character.characterClass.name }}</td>
					<td>{{ character.strRoles }}</td>
					<td>{{ character.server.name }}</td>
					<td>{{ character.information }}</td>
					<td>
						<a href="{{ path('user_character_edit', {id: character.id})}}">Modifier</a>
						<a href="{{ path('user_character_delete', {id: character.id})}}">Supprimer</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}
