
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <a class="navbar-brand bg-primary rounded-pill pl-3 pr-3" href="{{path('home')}}">Community Project</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">

            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') == false %}
                <li class="nav-item border border-primary {% if app.request.attributes.get('_route') == 'home' %}active{% endif %}">
                    <a class="nav-link" href="{{ path('home') }}">Home</a>
                </li>
            {% endif %}

            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}

                <li class="nav-item border border-primary {% if app.request.attributes.get('_route') == 'user_account' %}active{% endif %}">
                    <a class="nav-link" href="{{ path('user_account') }}">Account</a>
                </li>

            {% endif %}

            <li class="nav-item border border-primary {% if app.request.attributes.get('_route') == 'events' %}active{% endif %}">
                <a class="nav-link" href="{{ path('events') }}">Calendar</a>
            </li>

            {% if is_granted('ROLE_RAID_LEADER') %}

                <li class="nav-item border border-primary {% if app.request.attributes.get('_route') == 'raidleader_events' %}active{% endif %}">
                    <a class="nav-link" href="{{ path('raidleader_events') }}">HQ</a>
                </li>

                <li class="nav-item border border-primary {% if app.request.attributes.get('_route') == 'raidleader_manage_participant_ban_players' %}active{% endif %}">
                    <a class="nav-link" href="{{ path('raidleader_manage_participant_ban_players') }}">Ban Hammer</a>
                </li>

            {% endif %}

            {% if is_granted('ROLE_ADMIN') %}

                <li class="nav-item border border-primary {% if app.request.attributes.get('_route') == 'admin_users' %}active{% endif %}">
                    <a class="nav-link" href="{{ path('admin_users') }}">Manage users</a>
                </li>

                <li class="nav-item border border-primary {% if app.request.attributes.get('_route') == 'admin_messages' %}active{% endif %}">
                    <a class="nav-link" href="{{ path('admin_messages') }}">Messages</a>
                </li>

            {% endif %}

            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}

                <li class="nav-item border border-primary">
                    <a class="nav-link" href="{{ path('logout') }}">Logout</a>
                </li>

            {% endif %}

        </ul>
    </div>
</nav>
