<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
	<menu>
		<a href="{{ path('home') }}">Home</a>
		-

		{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
			<a href="{{ path('events') }}">Events list</a>
			-
			<a href="{{ path('user_account') }}">My account</a>
			-
			{% if is_granted('ROLE_RAID_LEADER') %}
                <a href="{{ path('raidleader_events') }}">Manage events</a>
				-
                <a href="{{ path('raidleader_manage_participant_ban_players') }}">List of ban players</a>
				-
            {% endif %}

			<a href="{{ path('logout') }}">Logout</a>

		{% else %}
			<a href="{{ path('login') }}">Log in</a>
		{% endif %}
	</menu>
        {% block body %}{% endblock %}
    </body>
</html>
