<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>{% block title %}Welcome !{% endblock %}</title>

	{% block stylesheets %}
		<!-- Style -->
		<link rel="stylesheet" href="{{asset('bootstrap-css/bootstrap.css')}}">
		<link rel="stylesheet" href="{{asset('css/style.css')}}">
	{% endblock %}

	{% block javascripts %}
		<!-- Scripts -->
		<script defer src="{{asset('bootstrap-js/jquery-3.6.0.min.js')}}"></script>
		<script defer src="{{asset('bootstrap-js/bootstrap.bundle.js')}}"></script>
	{% endblock %}

	{% block custom_scripts %}
		<!-- Custom Scripts -->
	{% endblock %}
</head>

<body>
	<header>
		{{ include('_navbar.html.twig') }}
	</header>

	{% if app.request.attributes.get('_route') != 'home' %}

		{% block banner %}
			<tbc-banner class="container d-flex justify-content-center bg-dark position-static">

				{% block banner_image %}
					<img class="container p-0" src="{{asset('images/jpg/backgrounds/wei-wang-dark-portal-cropped.jpg')}}"
						alt="Stormwind, human capital city in World of Warcraft">
				{% endblock %}

				<page-title class="align-self-center p-0">

					{% block banner_title %}
						<span>
							Welcome to Diana's
						</span>
						<h1>Community Project</h1>
					{% endblock %}

				</page-title>

			</tbc-banner>
		{% endblock %}

	{% endif %}

	{% block body %}{% endblock %}
</body>
</html>
