<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>{% block title %}Welcome!{% endblock %}</title>

	{% block stylesheets %}
		<!-- Style -->
		<link rel="stylesheet" href="{{asset('bootstrap-css/bootstrap.min.css')}}">
		<link rel="stylesheet" href="{{asset('css/style.css')}}">
	{% endblock %}

	{% block javascripts %}
		<!-- Scripts -->
		<script defer src="{{asset('bootstrap-js/jquery-3.6.0.min.js')}}"></script>
		<script defer src="{{asset('bootstrap-js/bootstrap.bundle.js')}}"></script>
	{% endblock %}
</head>

<body>
	<header>
		{{ include('navbar.html.twig') }}
		{{ include('ragnaros.html.twig') }}
	</header>
	{# <menu>
		<a href="{{ path('home') }}">Home</a>
		-
		<a href="{{ path('events') }}">Events list</a>

		{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
			-
			<a href="{{ path('user_account') }}">My account</a>
			-
			{% if is_granted('ROLE_RAID_LEADER') %}
				<a href="{{ path('raidleader_events') }}">Manage events</a>
				-
				<a href="{{ path('raidleader_manage_participant_ban_players') }}">List of ban players</a>
				-
			{% endif %}

			<a href="{{ path('logout') }}">Logout</a>

		{% else %}
			<a href="{{ path('login') }}">Log in</a>
		{% endif %}
	</menu> #}

	{% block body %}{% endblock %}


</body>
</html>
