<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Welcome !{% endblock %}</title>

    {% block stylesheets %}
        <!-- Style -->
        <link rel="stylesheet" href="{{asset('bootstrap-css/bootstrap.css')}}">
        <link rel="stylesheet" href="{{asset('fontawesome/css/all.css')}}">
        <link rel="stylesheet" href="{{asset('css/style.css')}}">
    {% endblock %}

    {% block javascripts %}
        <!-- Scripts -->
        <script defer src="{{asset('bootstrap-js/jquery-3.6.0.min.js')}}"></script>
        <script defer src="{{asset('bootstrap-js/bootstrap.bundle.js')}}"></script>
        <script defer src="{{asset('bootstrap-js/tooltip.js')}}"></script>
        <script defer src="{{asset('js/confirmModal.js')}}"></script>
    {% endblock %}

    {% block custom_scripts %}
        <!-- Custom Scripts -->
    {% endblock %}
</head>

<body>
    <header>
        {{ include('_navbar.html.twig') }}
    </header>

    {% if app.request.attributes.get('_route') != 'home' and app.request.attributes.get('_route') != 'sign_up' %}

        {% block banner %}
            <tbc-banner class="container d-flex justify-content-center bg-dark position-static">

                {% block banner_image %}
                    <img class="container p-0" src="{{asset('images/jpg/backgrounds/wei-wang-dark-portal-cropped.jpg')}}"
                        alt="Stormwind, human capital city in World of Warcraft">
                {% endblock %}

                <page-title class="align-self-center p-0">

                    {% block banner_title %}
                        <span>
                            Welcome to Diana's
                        </span>
                        <h1>Community Project</h1>
                    {% endblock %}

                </page-title>

            </tbc-banner>
        {% endblock %}

    {% endif %}

    <main class="container bg-dark border-bottom border-secondary">
        {% if app.request.attributes.get('_route') == 'home' %}
            {{ include('_ragnaros.html.twig') }}
        {% endif %}

        {% for message in app.flashes('success') %}
            <div class="alert alert-success text-center mb-2">
                {{ message }}
            </div>
        {% endfor %}

        {% for message in app.flashes('danger') %}
            <div class="alert alert-danger text-center mb-2">
                {{ message }}
            </div>
        {% endfor %}

        {% block body %}{% endblock %}
    </main>

    <footer>
        <div class="d-flex justify-content-center ">
            <div class="row col-7 d-flex justify-content-around">
                <div class="my-3 {% if app.request.attributes.get('_route') == 'about_us' %}active{% endif %}">
                    <a class="text-light" href="{{ path('about_us') }}">About us</a>
                </div>

                <div class="my-3 {% if app.request.attributes.get('_route') == 'terms_of_use' %}active{% endif %}">
                    <a class="text-light" href="{{ path('terms_of_use') }}">Terms of use</a>
                </div>

                <div class="my-3 {% if app.request.attributes.get('_route') == 'contact' %}active{% endif %}">
                    <a class="text-light" href="{{ path('contact') }}">Contact us</a>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>

<div class="modal fade" id="generic_modal" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-size-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"></h4>
                <button type="button" class="close pull-right" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>