{% extends 'base.html.twig' %}

{% block title %}Hello RaidController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
	<h4> Raid informations </h4>
	<p> Identifier : {{ raid.identifier }}</p>

	{{ form_start(form) }}
		<div> {{ form_row(form.name) }}</div>
		<div> {{ form_row(form.raidType) }}</div>
		<div> {{ form_row(form.expectedAttendee) }}</div>
		<div> {{ form_row(form.startAt) }}</div>
		<div> {{ form_row(form.endAt) }}</div>
		<div> {{ form_row(form.information) }}</div>
		<div> {{ form_row(form.minTank) }}</div>
		<div> {{ form_row(form.maxTank) }}</div>
		<div> {{ form_row(form.minHeal) }}</div>
		<div> {{ form_row(form.maxHeal) }}</div>
		<div> {{ form_row(form.autoAccept) }}</div>
		<div> {{ form_row(form.isPrivate) }}</div>
		{% for raidCharacter in form.raidCharacters %}
			<div>
				{{ form_widget(raidCharacter) }}
			</div>
		{% endfor %}
	{{ form_end(form) }}

	<hr>
	<h4> Validated players </h4>
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Class</th>
				<th>Role</th>
				<th>Information</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			{% for raidCharacter in raid.raidCharacters %}
				{% if raidCharacter.isAccept %}
					<tr>
						<td>{{ raidCharacter.userCharacter.name }}</td>
						<td>{{ raidCharacter.userCharacter.characterClass.name }}</td>
						<td>{{ raidCharacter.role.name }}</td>
						<td>{{ raidCharacter.userCharacter.information }}</td>
						{% if is_raid_leader_character(user, raidCharacter.userCharacter, raidCharacter.raid) == false %}
							<td>
								<a href="{{ path('raidleader_raid_manage_participant', {raid_id: raid.id, character_id: raidCharacter.userCharacter.id }) }}?status={{ constant('App\\Entity\\RaidCharacter::REFUSED') }}">Refuse</a>
							</td>
						{% endif %}
					</tr>
				{% endif %}
			{% endfor %}
		</tbody>
	</table>

	<hr>
	<h4> Players in waiting : </h4>
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Class</th>
				<th>Role</th>
				<th>Information</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			{% for raidCharacter in raid.raidCharacters %}
				{% if raidCharacter.isWaitingConfirmation %}
					<tr>
						<td>{{ raidCharacter.userCharacter.name }}</td>
						<td>{{ raidCharacter.userCharacter.characterClass.name }}</td>
						<td>{{ raidCharacter.role.name }}</td>
						<td>{{ raidCharacter.userCharacter.information }}</td>
						<td>
							<a href="{{ path('raidleader_raid_manage_participant', {raid_id: raid.id, character_id: raidCharacter.userCharacter.id }) }}?status={{ constant('App\\Entity\\RaidCharacter::ACCEPT') }}">Accept</a>
							<a href="{{ path('raidleader_raid_manage_participant', {raid_id: raid.id, character_id: raidCharacter.userCharacter.id }) }}?status={{ constant('App\\Entity\\RaidCharacter::REFUSED') }}">Refuse</a>
						</td>
					</tr>
				{% endif %}
			{% endfor %}
		</tbody>
	</table>

	<hr>
	<h4> Players refused : </h4>
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Class</th>
				<th>Role</th>
				<th>Information</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			{% for raidCharacter in raid.raidCharacters %}
				{% if raidCharacter.isRefused %}
					<tr>
						<td>{{ raidCharacter.userCharacter.name }}</td>
						<td>{{ raidCharacter.userCharacter.characterClass.name }}</td>
						<td>{{ raidCharacter.role.name }}</td>
						<td>{{ raidCharacter.userCharacter.information }}</td>
						<td>
							<a href="{{ path('raidleader_raid_manage_participant', {raid_id: raid.id, character_id: raidCharacter.userCharacter.id }) }}?status={{ constant('App\\Entity\\RaidCharacter::ACCEPT') }}">Accept</a>
						</td>
					</tr>
				{% endif %}
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}
