{% extends 'base.html.twig' %}

{% block title %}Hello RaidController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
	<p>Code : {{ raid.identifier }}</p>
	<p>Nom : {{ raid.name }}</p>
	<p>Nombre de joueurs attendu : {{ raid.expectedAttendee }}</p>
	<p>Min tank : {{ raid.minTank }}</p>
	<p>Max tank : {{ raid.maxTank }}</p>
	<p>Min heal : {{ raid.minHeal }}</p>
	<p>Max heal : {{ raid.maxHeal }}</p>
	<p>
		Accepter automatiquement les inscriptions :
		{% if raid.autoAccept %}
			Oui
		{% else %}
			Non
		{% endif %}
	</p>
	<p>Début du raid : {{ raid.startAt|date("d/m/Y h:i") }}</p>
	<p>Fin du raid : {{ raid.endAt|date("d/m/Y h:i") }}</p>
	<p>Informations : {{ raid.information }}</p>
	<a href="{{ path('raidleader_raid_edit', {id: raid.id})}}">Modifier</a>
	<a href="{{ path('raidleader_raid_delete', {id: raid.id})}}">Supprimer</a>
</div>
{% endblock %}
