{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block banner_title %}
	<h1>Account</h1>
{% endblock %}

{% block custom_scripts %}
    <script defer src="{{asset('js/timezone.js')}}"></script>
{% endblock %}

{% block body %}

<main class="container bg-dark">

    {{ include('user/account_parts/_form_account.html.twig') }}
    {{ include('user/account_parts/_character_list.html.twig') }}
    {{ include('user/account_parts/_form_character.html.twig') }}

    {{ include('user_raid_leader_parts/_scheduled_raids.html.twig') }}

</main>

{% endblock %}
