{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <span>Infos perso : </span>
	<a href="{{ path('user_account_edit')}}">Modifier</a>
    <p>email : {{ user.email }}</p>
</div>

<hr>
<div class="example-wrapper">
    <span>Liste des personnages : </span>
	<a href="{{ path('user_character_add')}}">Ajouter</a>

	<table>
		<thead>
			<tr>
				<th>Nom</th>
				<th>Classe</th>
				<th>Rôles</th>
				<th>Serveur</th>
				<th>Informations</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			{% for character in user.characters %}
				<tr>
					<td>{{ character.name }}</td>
					<td>{{ character.characterClass.name }}</td>
					<td>{{ character.strRoles }}</td>
					<td>{{ character.server.name }}</td>
					<td>{{ character.information }}</td>
					<td>
						<a href="{{ path('user_character_edit', {id: character.id})}}">Modifier</a>
						<a href="{{ path('user_character_delete', {id: character.id})}}">Supprimer</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<hr>
	<span>Raids </span>
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Type</th>
				<th>Début</th>
				<th>Fin</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
		{% for character in user.characters %}
			{% for raidCharacter in character.raidCharacters %}
				{% if raidCharacter.isAccept %}
					<tr>
						<td>{{ raidCharacter.raid.name }}</td>
						<td>{{ raidCharacter.raid.raidType }}</td>
						<td>{{ raidCharacter.raid.startAt|date("d/m/Y h:i") }}</td>
						<td>{{ raidCharacter.raid.endAt|date("d/m/Y h:i") }}</td>
						<td>
							<a href="{{ path('event_unregister', {id: raidCharacter.raid.id})}}">Unregister</a>
						</td>
					</tr>
				{% endif %}
			{% endfor %}
		{% endfor %}
		</tbody>
	</table>

	<hr>
	<span>Raids in waiting of raid leader validation </span>
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Type</th>
				<th>Début</th>
				<th>Fin</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
		{% for character in user.characters %}
			{% for raidCharacter in character.raidCharacters %}
				{% if raidCharacter.isWaitingConfirmation %}
					<tr>
						<td>{{ raidCharacter.raid.name }}</td>
						<td>{{ raidCharacter.raid.raidType }}</td>
						<td>{{ raidCharacter.raid.startAt|date("d/m/Y h:i") }}</td>
						<td>{{ raidCharacter.raid.endAt|date("d/m/Y h:i") }}</td>
						<td>
							<a href="{{ path('event_unregister', {id: raidCharacter.raid.id})}}">Unregister</a>
						</td>
					</tr>
				{% endif %}
			{% endfor %}
		{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}
