{% extends 'base.html.twig' %}

{% block title %}Raid{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
	<h4> Raid informations </h4>

	<p> Name : {{ raid.name }}</p>
	<p> Type : {{ raid.raidType }}</p>
	<p> Expected : {{ raid.expectedAttendee }}</p>
	<p> Start : {{ raid.startAt|date("d/m/Y h:i") }}</p>
	<p> End : {{ raid.endAt|date("d/m/Y h:i") }}</p>
	<p> Informations : {{ raid.information }}</p>
	<p> Min tank : {{ raid.minTank }}</p>
	<p> Max tank : {{ raid.maxTank }}</p>
	<p> Min heal : {{ raid.minHeal }}</p>
	<p> Max heal : {{ raid.maxHeal }}</p>

	<hr>
	<h4> Validated players </h4>
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Class</th>
				<th>Role</th>
				<th>Information</th>
			</tr>
		</thead>
		<tbody>
			{% for raidCharacter in raid.raidCharacters %}
				{% if raidCharacter.isAccept %}
					<tr>
						<td>{{ raidCharacter.userCharacter.name }}</td>
						<td>{{ raidCharacter.userCharacter.characterClass.name }}</td>
						<td>{{ raidCharacter.role.name }}</td>
						<td>{{ raidCharacter.userCharacter.information }}</td>
					</tr>
				{% endif %}
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}
